* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
  &:hover {
    color: $warning;
  }
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: whitesmoke;
  background-image: url(../img/background.svg);
  background-size:contain;
  background-repeat: no-repeat;

}

.login {
  background: rgba(255, 255, 255, 0.29);
  width: 350px;
  border-radius: 49px;
  padding: 30px;
  color: #ffffff;
  .titulo {
    font-size: 30px;
  }
}

.auth {
  background: radial-gradient(50% 119.66% at 50% 50%, #21a676 0%, #3c7380 100%);
  background-blend-mode: darken;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: white;

  header {
    background: none;
  }
  footer {
    border-top: none;
  }
}

header {
  height: 10vh;
  padding: 16px;
}

.content {
  min-height: 82vh;
}

footer {
  height: 8vh;
  border-top: 1px solid #343434;
}

.btn-secondary {
  color: white;
}

.input-group-text {
  background-color: white;
}
.input-group > :not(:first-child) {
  border-left: none;
}

.form-control:focus {
  box-shadow: none;
}

.card {
  background: #ffffff;
  box-shadow: 2px 3px 4px rgba(52, 52, 52, 0.5);
  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s;
  max-height: 65vh;
  overflow: auto;

  &.vermelho {
    box-shadow: 2px 3px 4px $danger;
  }
  &.verde {
    box-shadow: 2px 3px 4px $primary;
  }
  &.azul {
    box-shadow: 2px 3px 4px $warning;
  }
  &.amarelo {
    box-shadow: 2px 3px 4px $secondary;
  }

  &.entrega {
    &:hover {
      transform: scale(1.02);
    }
  }

  &.menu-admin {
    color: rgb(135, 135, 135);
    transition: 0.3s color, 0.3s transform;
    &:hover {
      transform: scale(1.02);
      color: $warning;
      box-shadow: 2px 3px 4px $warning;
    }
  }
}

.rodar {
  transform: rotate(-180deg);
}

.btn {
  color: white;
  &:hover {
    color: white;
  }
}
.btn-outline-dark {
  color: black;
  &:hover {
    color: white;
  }
}

.form-select {
  &:focus {
    box-shadow: none;
  }
}

.form-control,
.form-select {
  &.vazio {
    border-color: $danger;
  }
}

th {
  vertical-align: middle;
  &:has(a) {
    text-align: center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
