* {
  padding: 0;
  margin: 0;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: whitesmoke;
}

.login {
  background: rgba(255, 255, 255, 0.29);
  width: 350px;
  border-radius: 49px;
  padding: 30px;
  color: #ffffff;
  .titulo {
    font-size: 30px;
  }
}

.auth {
  background: radial-gradient(50% 119.66% at 50% 50%, #21a676 0%, #3c7380 100%);
  background-blend-mode: darken;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: white;
  .footer {
    border-top: none;
  }
}

header {
  background: linear-gradient(
    90deg,
    #3c735f 0.84%,
    #3c735f 0.85%,
    #21a676 100%
  );
  height: 35vh;
  color: white;
  padding: 16px;
}

.content {
  min-height: 70vh;
  transform: translateY(-130px);
}

footer {
  border-top: 1px solid #343434;
}

.btn-secondary {
  color: white;
}

.input-group-text {
  background-color: white;
}
.input-group > :not(:first-child) {
  border-left: none;
}

.form-control:focus {
  box-shadow: none;
}

.card {
  background: #ffffff;
  box-shadow: 2px 3px 4px rgba(52, 52, 52, 0.5);
  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s;

  &.vermelho {
    box-shadow: 2px 3px 4px #f52c22;
  }
  &.verde {
    box-shadow: 2px 3px 4px #21a676;
  }
  &.azul {
    box-shadow: 2px 3px 4px #169bba;
  }
}
